.header {
  width: 100%;
}

.nav {
  background-color: rgb(0, 0, 0);
  height: 10rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  flex-shrink: 0;
}

.navBar {
    white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navItem {
  list-style: none;
}

.navLink {
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 5rem;
  transition: border-color 0.3s ease;
  text-decoration: none;
}

.navButtons {
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tele {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: white;
  padding: 1.1rem 2.5rem;
  border-radius: 3.5rem;
  border: 2px solid white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.callIcon{
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

@keyframes pulse-border {

  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 201, 74, 0.7);
  }

  50% {
    box-shadow: 0 0 0 0.6rem rgba(255, 221, 143, 0.2);
    border-width: 1.7rem;
  }

  75% {
    box-shadow: 0 0 0 0 rgba(253, 246, 229, 0);
    border-width: 1rem;
  }
}

.donate {
  font-size: 1.5rem;
  color: black;
  background-color: var(--yellow);
  padding: 1.1rem 2.5rem;
  border-radius: 3.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
  animation: pulse-border 2s ease-in-out infinite;
}

.donate:hover {
  color: white;
  background-color: var(--blue);
  padding: 1.5rem 2.5rem;
}

.navLink:hover {
  border: 2px solid var(--yellow);
  border-radius: 5rem;
}

.navLink:active {
  border: 2px solid var(--yellow);
  border-radius: 5rem;
}

/* /////////////////////////////////////////// */

@media (min-width: 1200px) and (max-width: 1450px) {
.nav {
  background-color: rgb(0, 0, 0);
  height: 10rem;
  padding: 1rem 2rem;
}

.navBar {
  gap: 0.9rem;
}


.navLink {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 5rem;
}

.navButtons {
  gap: 0.3rem;
}

.tele {
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.7rem 0.7rem;
  border-radius: 3.5rem;
  border: 2px solid white;
}

.callIcon{
  width: 1.3rem;
  height: 1.3rem;
}


.donate {
  font-size: 1rem;
  padding: 0.7rem 0.7rem;
  border-radius: 3.5rem;
}

.donate:hover {
 padding: 0.7rem 0.7rem;
}

.navLink:hover {
  border-radius: 5rem;
}

.navLink:active {
  border-radius: 5rem;
}
}


@media (min-width: 768px) and (max-width: 1199px) {
}


@media (min-width: 601px) and (max-width: 767px) {
}


@media (min-width: 401px) and (max-width: 600px) {
}

@media (max-width: 400px) {
}