.header {
  width: 100%;
}

.nav {
  background-color: rgba(0, 0, 0, 0.904) ;
opacity: 0.9;
  height: 10rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.logo {
  flex-shrink: 0;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navItem {

  list-style: none;
}

.navLink {
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem 0.5rem;
  border: 2px solid transparent;
  border-radius: 5rem;
  transition: border-color 0.3s ease;
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tele {
  font-size: 1.5rem;
  color: white;
  padding: 1.1rem 2.5rem;
  border-radius: 3.5rem;
  border: 2px solid white;
  text-decoration: none;
}

@keyframes pulse-border {

  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 201, 74, 0.7);
  }

  50% {
    box-shadow: 0 0 0 0.6rem rgba(255, 221, 143, 0.2);
    border-width: 1.7rem;
  }

  75% {
    box-shadow: 0 0 0 0 rgba(253, 246, 229, 0);
    border-width: 1rem;
  }
}

.donate {
  font-size: 1.5rem;
  color: black;
  background-color: var(--yellow);
  padding: 1.1rem 2.5rem;
  border-radius: 3.5rem;
  text-decoration: none;
  animation: pulse-border 2s ease-in-out infinite;
}

.donate:hover {
  color: black;
  background-color: white;
}

.navLink:hover {
  border: 2px solid rgb(255, 215, 0);
  border-radius: 5rem;
}

.navLink:active {
  border: 2px solid rgb(255, 215, 0);
  border-radius: 5rem;
}